*.idea
*.bin
*.lock
.gradle/4.10.1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.gradle/5.1.1/gc.properties
app/app.iml
*.iml
app/src/main/res/raw/config.properties
